.plus__button {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: #121212 solid 0.1rem;
    width: 5rem;
    height: 5rem;
    bottom: 5%;
    right: 2%;
    background: radial-gradient(circle, #2352FF, #974dff);
    background-size: 200% 200%;
    animation: moveGradient-plus 5s infinite linear;
}

.plus__button button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#plus__icon {
    height: 50%;
    width: 50%;
    object-fit: cover;
}

.create__modal__container {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: rgba(0, 0, 0, 0.536);
}

.create__modal {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 46.2vw;
    height: 70.5vh;
    border-radius: 1rem;
    background: linear-gradient(45deg, #2352FF, #9f29ff);
    background-size: 200% 200%;
    animation: moveGradient-modal 4s infinite linear;
}

.create__content {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 46vw;
    height: 70vh;
    border-radius: 1rem;
    background-color: #212121;
}

@keyframes moveGradient-plus {
    0% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 250% 20%;
    }
    100% {
        background-position: 50% 50%;
    }
}

@media screen and (max-width: 768px) {
    .plus__button {
        width: 4rem;
        height: 4rem;
        bottom: 1%;
    }

    .create__modal {
        width: 85vw;
        height: 50.5vh;
    }

    .create__content {
        width: 84vw;
        height: 50vh;
    }
}