.plus__button {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: #121212 solid 0.1rem;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    bottom: 5%;
    right: 2%;
    background: radial-gradient(circle, #2352FF, #974dff);
    background-size: 200% 200%;
    animation: moveGradient-plus 5s infinite linear;
}

@keyframes moveGradient-plus {
    0% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 250% 20%;
    }
    100% {
        background-position: 50% 50%;
    }
}

#plus__icon {
    height: 50%;
    width: 50%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .plus__button {
        width: 4rem;
        height: 4rem;
        bottom: 1%;
    }
}