.header__container {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 11vh;
  align-items: center;
  padding: 3.1% 2vw;
  background-color: #212121;
}

.userImage__container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #e9ecef;
}

#search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 32vw;
  height: 50px;
  padding: 0 20px;
  border: none;
  border-radius: 25px;
  background-color: #e9ecef;
}